#imgGame{
    border: 3px solid black;
    padding: 2px;
    display: block;
    margin: 0 auto;
}

#game{
    clear:both;

}

#myTableGame{
    width : 100%;
    display: block;
    padding: 3px;
    margin: 0 auto;
    background-clip: padding-box;
}
#myTableGame td{
    vertical-align: bottom;
    text-align: end;

}

td p{
    padding: 2px;
    font-size: 20px;
}

.greyCell{
    background-color : grey;!important;
}

